In [4]:
conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/skylarblack/opt/anaconda3

  added / updated specs:
    - gmaps


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.12.5  |       h033912b_0         138 KB  conda-forge
    certifi-2020.12.5          |   py38h50d1736_1         143 KB  conda-forge
    conda-4.10.0               |   py38h50d1736_1         3.1 MB  conda-forge
    openssl-1.1.1k             |       h0d85af4_0         1.9 MB  conda-forge
    python_abi-3.8             |           1_cp38           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         5.2 MB

The following NEW packages will be INSTALLED:

  geojson            conda-forge/noarch::geojson-2.5.0-py_0
  gmaps              conda-forge/noarch::gmaps-0.9.0-py_0
  python_abi         conda-forge/osx-64::python_abi-3.8-1_cp38

The following packages will be UPDATED:

  certifi            pkgs/main::certifi-2020.12.5-py38hecd~ --> conda-forge::certifi-2020.12.5-py38h50d1736_1
  conda              pkgs/main::conda-4.10.0-py38hecd8cb5_0 --> conda-forge::conda-4.10.0-py38h50d1736_1

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    pkgs/main::ca-certificates-2021.1.19-~ --> conda-forge::ca-certificates-2020.12.5-h033912b_0
  openssl              pkgs/main::openssl-1.1.1k-h9ed2024_0 --> conda-forge::openssl-1.1.1k-h0d85af4_0



Downloading and Extracting Packages
certifi-2020.12.5    | 143 KB    | ##################################### | 100%
python_abi-3.8       | 4 KB      | ##################################### | 100%
ca-certificates-2020 | 138 KB    | ##################################### | 100%
conda-4.10.0         | 3.1 MB    | ##################################### | 100%
openssl-1.1.1k       | 1.9 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2021-04-06 02:52:42,5.4112,100.3354,88.00,79,20,4.61
1,1,Darnah,LY,2021-04-06 02:51:29,32.7670,22.6367,70.56,18,73,32.12
2,2,Puerto Ayora,EC,2021-04-06 02:47:52,-0.7393,-90.3518,77.00,92,67,2.91
3,3,Klaksvik,FO,2021-04-06 02:52:43,62.2266,-6.5890,26.60,59,40,33.38
4,4,Klyuchi,RU,2021-04-06 02:52:43,52.2667,79.1667,38.14,84,100,10.89

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2021-04-06 02:52:42,5.4112,100.3354,88.00,79,20,4.61
2,2,Puerto Ayora,EC,2021-04-06 02:47:52,-0.7393,-90.3518,77.00,92,67,2.91
6,6,Sungairaya,ID,2021-04-06 02:52:44,0.7000,108.9000,87.82,59,75,4.45
8,8,Busselton,AU,2021-04-06 02:52:45,-33.6500,115.3333,75.00,76,13,1.99
14,14,Rikitea,PF,2021-04-06 02:52:46,-23.1203,-134.9692,78.28,70,30,11.95
20,20,Saint George,US,2021-04-06 02:51:01,37.1041,-113.5841,80.60,7,1,16.11
29,29,Acapulco,MX,2021-04-06 02:52:51,16.8634,-99.8901,82.40,69,20,5.75
33,33,Lorengau,PG,2021-04-06 02:52:52,-2.0226,147.2712,83.19,74,92,4.21
35,35,Miri,MY,2021-04-06 02:52:53,4.4148,114.0089,82.40,78,20,10.36
37,37,Vaini,TO,2021-04-06 02:52:54,-21.2000,-175.2000,80.60,69,40,12.66

In [18]:
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0     Georgetown      MY     88.00   5.4112  100.3354
2   Puerto Ayora      EC     77.00  -0.7393  -90.3518
6     Sungairaya      ID     87.82   0.7000  108.9000
8      Busselton      AU     75.00 -33.6500  115.3333
14       Rikitea      PF     78.28 -23.1203 -134.9692
20  Saint George      US     80.60  37.1041 -113.5841
29      Acapulco      MX     82.40  16.8634  -99.8901
33      Lorengau      PG     83.19  -2.0226  147.2712
35          Miri      MY     82.40   4.4148  114.0089
37         Vaini      TO     80.60 -21.2000 -175.2000

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_content = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_content.format(**row) for index, row in hotel_df.iterrows()]